<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Finanças</title>
    </head>
    <body>
        <h1>Sistemas de finanças</h1>
        <section class="conta">
            <h2>Contas e movimentações</h2>
            <ul>
                <li><a th:href="@{/conta/form}">Cadastrar conta</a></li>
                <li><a th:href="@{/movimentacao/form}">Cadastrar nova movimentação</a></li>
            </ul>
        </section>
    </body>
</html>