<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de movimentação - Finanças</title>
</head>
<body>
    <h2>Cadastrar movimentação</h2>
    <form th:action="@{/movimentacao/adiciona}" th:object="${movimentacao}" method="post">
        <label for="descricao">Descricao:</label>
        <input id="descricao" type="text" th:field="*{descricao}" /><br>

        <label for="data">Data:</label>
        <input id="data" type="datetime-local" th:field="*{data}"/><br>

        <label for="conta">Conta:</label>
        <select id="conta" th:field="*{conta.id}">
            <option th:each="conta : ${contas}" th:value="${conta.id}" th:text="${conta}">Erro</option>
        </select><br>

        <label for="valor">Valor:</label>
        <input id="valor" type="number" th:field="*{valor}"/><br>

        <label for="tipoMovimentacao">Tipo movimentação</label>
        <select th:field="*{tipoMovimentacao}" id="tipoMovimentacao">
            <option th:each="valor : ${T(br.com.caelum.financas.modelo.TipoMovimentacao).values()}"
                    th:value="${valor}" th:text="${valor.nome}">Erro</option>
        </select><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>